<!DOCTYPE html>
<html>
<head>
  <title>Findaloo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChq9ZU8kpb2LNFOtTeo1AdhFWstOysTLU&callback=initMap"
    type="text/javascript"></script>
  <script type="text/javascript">
    window.findalooAssets = {
      // image_url is a rails helper method that does the fingerprinting
      // so we need erb tag to use ruby
      // file name is an argument to the image_url method
      signup_illustration: "<%= image_url("signup_illustration.png") %>"
      toilet_illustration: "<%= image_url("toilet_illustration.png")%>"
    }
  </script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
